@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply font-medium text-gray-100 transition-colors duration-100 hover:text-gray-300;
  }
  .nav-link-white {
    @apply font-medium text-gray-100 transition-colors duration-100 hover:text-gray-600;
  }
  .btn {
    @apply rounded-lg border-2 px-4 py-1 font-medium text-white duration-200 hover:border-gray-300 hover:text-gray-300;
  }

  .embla {
    margin: auto;
    --slide-height: 10rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-spacing-sm: 1.6rem;
    --slide-size-sm: 50%;
    --slide-spacing-lg: 2rem;
    --slide-size-lg: calc(100% / 3);
  }

  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  @media (min-width: 750px) {
    .embla__container {
      margin-left: calc(var(--slide-spacing-sm) * -1);
    }
  }
  @media (min-width: 1200px) {
    .embla__container {
      margin-left: calc(var(--slide-spacing-lg) * -1);
    }
  }
  .embla__slide {
    min-width: 0;
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
  }
  @media (min-width: 750px) {
    .embla__slide {
      flex: 0 0 var(--slide-size-sm);
      padding-left: var(--slide-spacing-sm);
    }
  }
  @media (min-width: 1200px) {
    .embla__slide {
      flex: 0 0 var(--slide-size-lg);
      padding-left: var(--slide-spacing-lg);
    }
  }
}
